h1 {
    padding-top: 40px;
}

body {
    background: url(../images/background-image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: greenyellow;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.characters-img {
    height: 100px;
    width: 150px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#characters-div {
    display: flex;
    flex-wrap: wrap;
}

#enemies-div {
    display: flex;
    flex-wrap: wrap;
}

.cards {
    margin: 5px;
    display: relative;
    height: 143px;
    width: 170px;
    padding-top: 3px;
    border-style: solid;
    border-width: 5px;
    text-align: center;
}

/* .cards-characters-div  */
.player {
    border-color: green;
    background-color: white;
    color: black;
}

.text {
    margin: 10px;
}

.enemies {
    border-color: red;
    background-color: black;
    color: white;
}

#restart-button {
    display: none;
}



